.booked-rooms-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
}

.booked-rooms-container h2 {
  margin-bottom: 2rem;
}

.booked-rooms-list {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
